<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>de.get.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>de.get.Register</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreateTask</servlet-name>
    <servlet-class>de.get.CreateTask</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>GetTasks</servlet-name>
    <servlet-class>de.get.GetTasks</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>UpdateTask</servlet-name>
    <servlet-class>de.get.UpdateTask</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteTask</servlet-name>
    <servlet-class>de.get.DeleteTask</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>CreateTasklist</servlet-name>
    <servlet-class>de.get.CreateTasklist</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteTasklist</servlet-name>
    <servlet-class>de.get.DeleteTasklist</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>UpdateTasklist</servlet-name>
    <servlet-class>de.get.UpdateTasklist</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetParticipants</servlet-name>
    <servlet-class>de.get.GetParticipants</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetTasklist</servlet-name>
    <servlet-class>de.get.GetTasklist</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShareTasklist</servlet-name>
    <servlet-class>de.get.ShareTasklist</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RemoveGeodata</servlet-name>
    <servlet-class>de.get.RemoveGeodata</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddGeodata</servlet-name>
    <servlet-class>de.get.AddGeodata</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Rate</servlet-name>
    <servlet-class>de.get.Rate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateTask</servlet-name>
    <url-pattern>/createTask</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetTasks</servlet-name>
    <url-pattern>/getTasks</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteTask</servlet-name>
    <url-pattern>/deleteTask</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateTask</servlet-name>
    <url-pattern>/updateTask</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>CreateTasklist</servlet-name>
    <url-pattern>/createTasklist</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>DeleteTasklist</servlet-name>
    <url-pattern>/deleteTasklist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetParticipants</servlet-name>
    <url-pattern>/getParticipants</url-pattern>
  </servlet-mapping>getTasklist
   <servlet-mapping>
    <servlet-name>GetTasklist</servlet-name>
    <url-pattern>/getTasklist</url-pattern>
  </servlet-mapping>updateTasklist
  <servlet-mapping>
    <servlet-name>UpdateTasklist</servlet-name>
    <url-pattern>/updateTasklist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShareTasklist</servlet-name>
    <url-pattern>/shareTasklist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RemoveGeodata</servlet-name>
    <url-pattern>/removeGeodata</url-pattern>
  </servlet-mapping> 
  <servlet-mapping>
    <servlet-name>AddGeodata</servlet-name>
    <url-pattern>/addGeodata</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Rate</servlet-name>
    <url-pattern>/rate</url-pattern>
  </servlet-mapping>  
</web-app>